:root{
    margin: 0%;
    padding: 0%;
   
}
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/static/images/bus/bus1.gif");
    object-fit: cover;
    height: 70vh;
    width: 100%;
    
    .hero-1{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-content: center;
     color: rgba(46, 246, 76, 0.924);
     font-weight: 600;

     .now{
        color: red;
        font-size:xx-large;
        font-weight: 900;
     }
    }
}

#home-body{
    margin-top: 2rem;


    #s{
        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 70vh;
        justify-content: center;
        justify-items: center;
        a{
            text-decoration: none;
        }
        .card{
            width: 15rem;
            height: 15rem;
            margin: 15px;
            border-radius: 0;
            box-shadow: 15px 15px;
            img{
                width: 100%;
                height: 11rem;
            }
        }
    }




    #but{
       
        display: flex;
        justify-content: center;
        justify-content: space-around;
        margin: 20px auto;
        a{
            text-decoration: none;
        }
    }
}

#fom{
    margin-top: 3.5rem;
    
    height:80vh;
    width: 100%;
    background-color: rgba(192, 169, 139, 0.435);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 5px;
    .card{
        padding: 5px;
        background-color: black;
        border-radius: 0%;
        box-shadow: 10px 15px  rgb(163, 160, 160);
    }
}



@media screen and (max-width: 700px) {
    *{
        font-size: small;
    }
    
}


